
/* BUTTON STYLING */
button {
    margin-left: 2px;
    margin-right: 2px;
    display: inline-block;
    background-color: #008CBA;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    
    padding-top: 5px;
    padding-bottom: 5px;
    width: 15%;

    border: none;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    transition: transform 0.1s ease-in-out;
  }
  
  button:hover {
    transform: scale(1.05);
    font-size: 105%;
  }
  
  button:active {
    transform: scale(0.95);
    background-color: #0076A3;
  }

  #buttonWrapper{

    display: flex;
    justify-content: center;
  }

  #imageNumberSpan {
    width: 15%;
    font-weight: bold;
    font-size: 1rem;
    line-height: 2;
  }

  /* INPUT FORM STYLING*/

  form {
    position: relative;
    margin: 0 auto;
  }
  
  form:label {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    color: #333;
  }


  
  input {
    position: relative;
    width: 100%;

    box-sizing: border-box; /*CHAT GPT MAGIC */

    border: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    padding: 1rem;
    font-size: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.2s ease-in-out;
  }


  
  input:focus {
    outline: none;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
  }
  
  input[type = submit] {
    display: inline-block;
    background-color: #008CBA;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1rem 2rem;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
  }
  
  input[type = submit]:hover {
    transform: scale(1.05);
    font-size: 105%;
  }
  
  input[type = submit]:active {
    transform: scale(0.95);
    background-color: #0076A3;
  }

  input[type = number] {
    display: inline-block;
    padding: 1rem 2rem;
    margin-bottom: 0;
    appearance: textfield;
  }

  #guessWrapper {
    
  }

  #allGuessesContainer {
    border: white 2px solid;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  .guessDiv {
    padding: 15px;
    margin-bottom: 2px;
    font-size: 1rem;
    color: gray;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    
  }

  .madeGuessDiv {
    position: relative;
    justify-content: center;

    background-color: #0076A3;
    padding: 15px;

    font-size: 1rem;
    font-size: 110%;
    font-weight: bold;

    border-bottom: white 2px solid;

    transition: 0.2s ease-in-out;
    
  }

  .sekDiv {

    /* position: absolute;
    right:10px; */

  }

  .scoreSpan{
    position: absolute;
    right:10px;
  }

  .inputDiv{
    position: relative;
    margin-bottom: 1rem;
  }


  .inputSekDiv {
    
    color: gray;
    position: absolute;
    right: 10px;
    padding-top: 15px;
    font-weight: normal;
    
    content: "SEK";
  }

  #popupWrapper {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 50px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  #secondPopupWrapper {
    margin: auto;
    text-align: center;
  }

  #popupImage {
    display: inline-block;
    width: 50%;
    height: 50%;
  }