

  /* INPUT FORM STYLING*/

  #adressDiv {
    margin-top: -20px;
    margin-bottom: -15px;
  }

  form {
    position: relative;
    margin: 0 auto;
  }
  
  form:label {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    color: #333;
  }


  
  input {
    position: relative;
    width: 100%;

    box-sizing: border-box; /*CHAT GPT MAGIC */

    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    padding: 1rem;
    font-size: 1rem;
    margin-bottom: 0.5rem;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.2s ease-in-out;

    text-align: center;

    border: 1px solid;
  }


  
  input:focus {
    outline: none;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
  }
  
  input[type = submit] {
    display: inline-block;
    background-color: #008CBA;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1rem 2rem;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
  }
  
  input[type = submit]:hover {
    transform: scale(1.05);
    font-size: 105%;
  }
  
  input[type = submit]:active {
    transform: scale(0.95);
    background-color: #0076A3;
  }

  input[type = number] {
    /* display: inline-block; */
    padding: 1rem 2rem;
    margin-bottom: 0;
  }

  #guessWrapper {
  
  }

  #allGuessesContainer {
    border: white 2px solid;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  .guessDiv {
    padding: 10px;
    margin-bottom: 2px;
    font-size: 1rem;
    color: gray;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  }

  .madeGuessDiv {
    position: relative;
    justify-content: center;

    background-color: #0076A3;
    padding: 10px;

    font-size: 1rem;
    font-size: 110%;
    font-weight: bold;

    border-bottom: white 2px solid;

    transition: 0.2s ease-in-out;
    
  }

  .sekDiv {

    /* position: absolute;
    right:10px; */

  }

  .scoreSpan{
    position: absolute;
    right:10px;
  }

  .inputDiv{
    position: relative;
  }


  .inputSekDiv {
    
    color: gray;
    position: absolute;
    right: 10px;
    padding-top: 15px;
    font-weight: normal;
    
    content: "SEK";
  }

 