body {
  text-align: center;
  background-color: #23272f;
  color: white;
  margin: 0;
  height: 100%; 
}

#mainWrapper {
  width: 550px;
  margin: 0 auto;
}

.headerWrapper {
  
  display: flex;
  height: 50px;
}

#subHeaderWrapper1 {
  
  width: 50%;
  position: relative;
}

#subHeaderWrapper2 {
  width:50%;
  position: relative;
}

.headerIcon {
  font-size: 24px;
  position: absolute;
  bottom: 3px;
}

#gearDiv {
  right:0px;

}

#helpDiv {
  right: 36px;
}

#chartDiv {
  right: 60px;
}

#titleThing {
  margin: 0;
  position: absolute;
  bottom: 0;
  left: 0;
}