body {
  text-align: center;
  background-color: #23272f;
  color: white;
}

img {
  border-radius: 10px;
}

.image {
  height: 350px;
  
}
.image-large {
  height: 600px;
  z-index: 999;
}


input[type=number] {
  appearance: textfield;
}
