body {
  text-align: center;
  background-color: #23272f;
  color: white;
  overflow: hidden;
}

#mainWrapper {
  width: 550px;
  margin: 0 auto;
}

img {
  border-radius: 10px;
}

.image {
  height: 350px;
  max-width: 100%;
  
}
